workflows/Mock CRM Fallback API_.json
{
  "name": "Mock CRM Fallback API:",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mock-crm/fallback",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "911d6cd9-7aa5-493d-9407-b07c5decb164",
      "name": "Webhook",
      "webhookId": "c8072533-250d-48cf-a83c-a329ee38831a"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nreturn [\n  {\n    json: {\n      ok: true,\n      message: \"ticket sent to fallback queue\",\n      received: input.body\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "0e3398f6-011e-4779-973d-be967f1581c3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "56142046-8a37-4ba1-bf9f-ce083e3c04b6",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "61d13c7e-ed03-46c8-a327-336c1de2829e",
  "meta": {
    "instanceId": "b270ddadbbd20edbacb4a7c87f35f805f2e41d5b6b457528215170ab2d01cbd0"
  },
  "id": "d6TWUzNl6OjEfl8N",
  "tags": []
}